.oracle li, .oracle tbody tr {
    display: none;
}

.oracle .active, .oracle .near, .oracle .far {
    display: list-item;
}

.oracle .active { color: #000; font-weight: bold; }
.oracle .near { color: #555; }
.oracle .far { color: #aaa; }
